:root {
  font-family: "Roboto", sans-serif;
  font-weight: 400;

  color-scheme: dark;
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ensure padding/border doesn’t add to declared width */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

h1 {
  font-family: "League Gothic", "Roboto", sans-serif;
  font-size: 4rem;
  margin-top: 0rem;
  margin-bottom: 1.5rem;
}

.fullscreen {
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

.foreground {
  height: 100%;
  overflow: auto;
}

.background {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-attachment: fixed;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.z-1 {
  z-index: 1;
}

.z-0 {
  z-index: 0;
}

.blue-bg {
  position: relative;
}

.blue-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:
    radial-gradient(
      ellipse 80% 60% at 50% 0%,
      rgb(10, 24, 87),
      transparent 70%
    ),
    #000000;
  background-attachment: fixed;
  z-index: 1;
}

.page-wrapper {
  padding: 6rem 25rem 4rem 25rem;
}

.page-wrapper p, .page-wrapper ul {
  color: #d7d9dd;
}

.page-wrapper b {
  color: #fff;
}


@media (max-width: 1700px) {
  .page-wrapper {
    padding: 5rem;
  }
}


@media (max-width: 750px) {
  .page-wrapper {
    padding: 2rem;
  }
}


/* links */

.no-deco {
  color: #fff;
  text-decoration: none;
}
